*{
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
header {
  background: #1abc9c;
  width: 100%;
  position: fixed;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;

  }
  .title{
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
  }
  .nav a{
    color: aliceblue;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: 600;
    padding-left: 30px;
    
  }
  a:hover{
    color: aquamarine;
  }
  div{
    padding: 100px 200px;
  }
  .img{
    width: 50px;
  }
.heny{
    position: absolute;
    right: 70%;
    margin-bottom: 100%;
  }
.main{
}
footer {
  background-color: aquamarine;
  color: white;
  display: flex;
  padding: 2em;
  justify-content: space-between;
 
  
}
form {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

label {
  display: block;
  margin-bottom: 8px;
}
input,
        textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
        }

        button {
            background-color: #4caf50;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        button[type="reset"] {
          background-color: #f44336;
      }

      hr {
          margin: 20px 0;
          border: 0;
          border-top: 1px solid #ccc;
      }
      table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }
